@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro/SF-Pro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro/SF-Pro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro/SF-Pro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }